*{
    box-sizing: border-box;
     text-decoration: none;
    border: none;
}
.main{
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
}
 /* heroe section start */
h1{
    margin-bottom: 20px;
}
.total{
   display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}
.total .tail{
    margin-top: 20px;
    color: white;
    font-size: 30px;
    font-family: cursive;
}
.total .side{
    width: 35%;
    height: 100vh;
    background-color: orangered;
    text-align: center;
}
.picture img{
   margin-top: 90px;
    width:80% ;
    border-radius: 180px;
}
.total .icon img{
    height: 20px;
}
.total2{
    width: 65%;
    height: 100vh;
    text-align: center;
    color: white;
    align-items: center; 
}
.button{
    margin-top: 20px;
    justify-content: space-between;
    padding: 10px;
   }
   .about .button .btn1 .btn2{
       justify-content: space-between;
   }
   .about .btn1{
       border: 2px solid orangered;
       border-radius: 20px;
       background: white;
       color: orangered;
       padding: 10px;
       cursor: pointer;
   }
   .about .btn2{
       border: 2px solid orangered;
       border-radius: 20px;
       background: orangered;
       color:white;
       padding: 10px;
       cursor: pointer;
   }
   .about{
    margin-top: 20%; 
    color: orangered;
 } 
.about p{
   color:white; 
   line-height: 30px;
   font-size: 20px;
}
/* heroe section ends */

 /* navbar */
.navbar {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;           
    justify-content: space-between; 
    padding: 0 20px;          
}
.navbar a{
    padding: 20px;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.navbar a:hover {
    color: orangered;
}
/*navbar end */

/* About */
.who{
height: 100vh;
background-color: black;
display: flex;
gap: 3rem;
}
.who h2{
    color: white;
}
 span{
    color: orangered;
}
.hand img{
width: 70%;
margin-top: 25%;
border-radius: 180px;
}
.leg h1{
    color: white;
}
.leg p{
    color: white;
    line-height: 30px;
    font-size: 20px;
}
.who .leg{
 margin-top: 10%;
 margin-left: 20px;
}
/* About ends */

/* services */
.service{
padding: 0px 0px 35px 0px;
background: orangered;
color: white;
}
.light{
    justify-content: space-around;
    display: flex;
    gap: 10px;
}
.vee{
    padding-top: 10px;
}
.service h1{
    margin-top: 30px;
    margin-left: 20px;
}
.work {
    width: 30%;
    height: 50%;
    border: 1px;
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
    padding: 50px;
 background-color: black;
    border-radius: 10px;
    line-height: 30px;
}
.work:hover{
background-color: orangered;
}
/* services end */

/* project */
.experience{
    background-color: black;
    height: 100vh;
}
.cheek{
    display: flex;
margin-left: 3%;
  align-content: center;
  padding-top: 10px;
  
}
.ear{
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}
.cheek img{
    margin-top: 40px;
    border-radius: 15px;
}
/* project ends */

/* contact */
.Contact{
    background-color: black;
    color: white;
height: 81vh;
}
.Contact .part{
    display: flex;
   justify-content: space-around;
}
.Contact .port{
line-height: 52px;
}
.Contact h1{
    color: white;
}
.gmail img{
    width: 20px;
}
.phone img{
    width: 50px;
    display: inline-flex;
}
.all{
    display: inline-flex;
}
.btnn{
    padding: 10px;
    width: 150px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    margin-top: 28%;
}
.part form .box{
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  color: white;
  background-color: rgb(54, 54, 54);
}
form{
    width: 50%;
    margin-top: 20px;
}
.bvn{
margin-top: 10px;
border-radius: 5px;
padding: 10px;
    width: 150px;
    background-color: orangered;
    color: white;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer h3{
margin: auto; 
   margin-top: 45px;
   border-top: 0.5px solid orangered;
   padding-top: 20px;
}
.footer img{
    width: 50px;
    height: 50px;
    margin-top: 35px;
    float: right;
}
/* contact ends */